extends layouts/default.jade

block content
  secition.grid-wrap
    #grid.grid.swipe-down
      .grid-sizer
      - each job, i in jobs
        .grid-item
          a
            if i < 8
              img(src="#{job.minImg}")
            else
              img.lazy-load(data-src="#{job.img}" data-src-mobile="#{job.minImg}")
            .overlay
              h2=job.title
              p=job.desc
